html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.pointer{
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: rgba(123, 147, 167, .1);
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba(123, 147, 167, .3);
}
